body{
    background-image:url("http://img08.deviantart.net/0b81/i/2015/349/4/b/super_smash_bros__wii_u_3ds_wallpaper_by_erron__black-d9karll.jpg");
    background-position:center;
    background-size: cover;
    text-align: center;

}
.SSB{
    border: solid  2px lightblue;
    background-color: white;
    width:50%;
    margin-left:auto;
    margin-right: auto;
}
.SSBM{
    border: solid  2px purple;
    background-color: white;
    width:50%;
    margin-left:auto;
    margin-right: auto;
}
.SSBB{
    border: solid  2px blue;
    background-color: white;
    width:50%;
    margin-left:auto;
    margin-right: auto;
}
.SSB4{
    border: solid  2px indigo;
    background-color: white;
    width:50%;
    margin-left:auto;
    margin-right: auto;
}
#top{
    color: white;
    width:50%;
    background-position:center;
}
#Title{
    color:white;
}
img{
    width:25%;
    vertical-align:middle;
}